<h2>Add meal form</h2>
<form class="form-horizontal" >
	<div class="form-group" data-bind="css: { error: mealDate.hasError }">
		<label for="mealDate" class="col-sm-2 control-label">Meal date:</label>
		<div class="col-sm-10">
		<div class='input-group date'>
                    <input type='text' class="form-control"  id="mealDate"  data-bind="datetimepicker: mealDate,datetimepickerOptions: {format: 'Do MMMM YYYY HH:mm:ss',sideBySide: true}"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <span class="help-block" data-bind='text: mealDate.validationMessage'></span>
                </div>
		</div>
	</div>
	<div class="form-group" data-bind="css: { error: calories.hasError }">
		<label for="calories" class="col-sm-2 control-label">Calories:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				data-bind='value: calories' id="calories"/><span class="help-block" data-bind='text: calories.validationMessage'>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="note" class="col-sm-2 control-label">Note:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				data-bind='value: note' id="note"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
	<div class="has-error"
		data-bind="visible: statusMessage, text: statusMessage"></div>
			<button class="btn btn-large btn-primary" data-bind="click: doAddMeal">Add meal</button>
		</div>
	</div>
</form>

