




<div class="container" data-bind="templateInit">

	<h2>List meal editor</h2>
	<button class="btn btn-large btn-primary" data-bind="click: refresh">Refresh</button>

	<div class="gridStyle" data-bind="koGrid: gridOptions"></div>



	<button class="btn btn-large btn-primary" data-bind="click: doEdit">Edit</button>

	<form class="form-horizontal" data-bind="visible: mealId">
		<div class="form-group">
			<label class="col-sm-2 control-label">Meal date:</label>
			<div class="col-sm-10">
				<div class='input-group date'>
					<input type='text' class="form-control"
						data-bind="datetimepicker: mealDate,datetimepickerOptions: {format: 'Do MMMM YYYY HH:mm:ss',sideBySide: true}" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>

			</div>
		</div>
		<div class="form-group">
			<label for="calories" class="col-sm-2 control-label">Calories:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" data-bind='value: calories'/>
			</div>
		</div>
		<div class="form-group">
			<label for="note" class="col-sm-2 control-label">Note:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" data-bind='value: note'/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="has-error"
					data-bind="visible: statusMessage, text: statusMessage"></div>
				<button class="btn btn-large btn-primary"
					data-bind="click: doSave">Save</button>

				<button class="btn btn-large btn-primary" data-bind="click: doRemove">Remove</button>
			</div>
		</div>
	</form>
</div>





