
<form class="form-signin">
	<h2>Please sign in</h2>
	<input type="text" class="input-block-level" placeholder="Login"
		data-bind="value: login"> <input type="password"
		class="input-block-level" placeholder="Password"
		data-bind="value: password">
	<button class="btn btn-primary" type="submit"
		data-bind="click: doLogin">Sign in</button>
	<div class="has-error"
		data-bind="visible: statusMessage, text: statusMessage"></div>
</form>
