
<h2>Registration form</h2>
<form class="form-horizontal">
	<div class="form-group" data-bind="css: { error: login.hasError }">
		<label for="login" class="col-sm-2 control-label">Login:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				data-bind='value: login,disable: userCreated' id="login" placeholder="Login"/>
			<span class="help-block" data-bind='visible: !login.isValid(), text: login.validationMessage'>
			</span>
		</div>
	</div>
	<div class="form-group" data-bind="css: { error: password.hasError }">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control"	data-bind='value: password,disable: userCreated'
				id="Password" placeholder="Password"/>
			<span class="help-block"
				data-bind='visible: !password.isValid(), text: password.validationMessage'>
			</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
	<div class="has-error"
		data-bind="visible: statusMessage, text: statusMessage"></div>
			<button class="btn btn-large btn-primary" data-bind="click: doRegister,disable: userCreated">Register</button>
		</div>
	</div>
</form>

