<div class="has-error"
	data-bind="visible: statusMessage, text: statusMessage"></div>

<div class="container">
	<p>
		Aggregate search: <input type="checkbox"
			data-bind="checked: aggregate" />
	</p>
	<div class="row" data-bind="visible: aggregate">
		<div class="col-sm-3">Count only for time:</div>
		<div class='col-sm-3'>
			<div class='input-group date'>
				<input type='text' class="form-control"
					data-bind="datetimepicker: fromTime, datetimepickerOptions: {format: 'LT'}" />
				<span class="input-group-addon"><span
					class="glyphicon glyphicon-calendar"></span></span>
			</div>
			<div>
			 <span
					class="help-block" data-bind='text: fromTime.validationMessage'></span></div>
		</div>
		<div class='col-sm-3'>
			<div class='input-group date'>
				<input type='text' class="form-control"
					data-bind="datetimepicker: toTime, datetimepickerOptions: {format: 'LT'}" />
				<span class="input-group-addon"><span
					class="glyphicon glyphicon-calendar"></span></span>
			</div>
			<div> <span
					class="help-block" data-bind='text: toTime.validationMessage'></span></div>
		</div>
	</div>


	<div class="row" data-bind="visible: aggregate">
		<div class='col-sm-3'>Alert if day exceeds calories limit:</div>
		<div class='col-sm-3'>
			<input type="text" class="form-control"
				data-bind="value: dailyCalsLimit" />
		</div>
	</div>
	<div class="row" data-bind="visible: aggregate">
		<button class="btn btn-large btn-primary"
			data-bind="click: doAggregate">Search</button>
	</div>
</div>


<div class="page-header">

	<div class="pull-right form-inline">
		<div class="btn-group">
			<button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt;
				Prev</button>
			<button class="btn btn-default" data-calendar-nav="today">Today</button>
			<button class="btn btn-primary" data-calendar-nav="next">Next
				&gt;&gt;</button>
		</div>
		<div class="btn-group">
			<button class="btn btn-warning" data-calendar-view="year">Year</button>
			<button class="btn btn-warning active" data-calendar-view="month">Month</button>
			<button class="btn btn-warning" data-calendar-view="week">Week</button>
			<button class="btn btn-warning" data-calendar-view="day">Day</button>
		</div>
	</div>

	<h3></h3>
</div>

<div class="row">
	<div class="col-md-9">
		<div id="calendar" data-bind="templateInit"></div>
	</div>
	<div class="col-md-3">
		<div class="row">
			<select id="first_day" class="form-control">
				<option value="" selected="selected">First day of week
					language-dependant</option>
				<option value="2">First day of week is Sunday</option>
				<option value="1">First day of week is Monday</option>
			</select> <select id="language" class="form-control">
				<option value="">Select Language (default: en-US)</option>
				<option value="bg-BG">Bulgarian</option>
				<option value="nl-NL">Dutch</option>
				<option value="fr-FR">French</option>
				<option value="de-DE">German</option>
				<option value="el-GR">Greek</option>
				<option value="hu-HU">Hungarian</option>
				<option value="id-ID">Bahasa Indonesia</option>
				<option value="it-IT">Italian</option>
				<option value="pl-PL">Polish</option>
				<option value="pt-BR">Portuguese (Brazil)</option>
				<option value="ro-RO">Romania</option>
				<option value="es-CO">Spanish (Colombia)</option>
				<option value="es-MX">Spanish (Mexico)</option>
				<option value="es-ES">Spanish (Spain)</option>
				<option value="ru-RU">Russian</option>
				<option value="sv-SE">Swedish</option>
				<option value="ko-KR">Korean</option>
				<option value="zh-TW">繁體中文</option>
			</select>
		</div>

		<h4>Events</h4>
		<small>This list is populated with events dynamically</small>
		<ul id="eventlist" class="nav nav-list"></ul>
	</div>
</div>

<div class="modal fade" id="events-modal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 class="modal-title">Event</h3>
			</div>
			<div class="modal-body" style="height: 400px"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

