<form class="form-horizontal" data-bind="templateInit">
	<div class="form-group" data-bind="css: { error: dailyCalsLimit.hasError }">
		<label for="dailyCalsLimit" class="col-sm-2 control-label">Some calories value:</label>
		<div class="col-sm-10">
		<div class='input-group'>
                    <input type='text' class="form-control"  id="dailyCalsLimit"  data-bind="value: dailyCalsLimit"/>
                    <span class="help-block" data-bind='text: dailyCalsLimit.validationMessage'></span>
                </div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
	<div class="has-error"
		data-bind="visible: statusMessage, text: statusMessage"></div>
			<button class="btn btn-large btn-primary" data-bind="click: doSaveChanges">Save settings</button>
		</div>
	</div>
</form>